<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="/index.js" defer></script>
</head>
<body>
    <%- include("partials/top-nav.ejs") %>
    <section class="edit-container">
        <h1 class="title">edit item</h1>
        <h2><%= item.name %></h2>
        <form method="post" action="/update-itm">
            <input type="hidden" name="id" value="<%= item.id %>">
            <label for="name">Name: </label>
            <input id="name" name="name" type="text" value="<%= item.name %>">

            <label for="quantity">Quantity </label>
            <input id="quantity" name="quantity" type="number" min="0" step="1" value="<%= item.quantity %>" required>
            <select name="category" >Category
                <option value="<%= item.category %>">--choose category--</option>
                <% categories.forEach(ctgry =>{ %>
                    <option value="<%= ctgry.id %>" ><%= ctgry.name %></option>
                <% }) %>
            </select>
            <button>Commit change!</button>
            <button formaction="/Items">cancel</button>
        </form>
    </section>
</body>
</html>