<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="/items-index.js" defer></script>
</head>
<body>
    <%- include("partials/top-nav.ejs") %>
    <!--db shape: { category_name: 'dairy', item_name: 'milk', quantity: 2 },-->
    <section class="itms-container">
        <h1 class="title">Items page</h1>
        <div class="add-btn" id="itms-btn" aria-label="create new item button"> Create new item!</div>
        <% items.forEach(item =>{ %>
        <div class="itm-card">
            
            <h4 style="grid-area: item-name;"><%= item.item_name %></h4>
            <div style="grid-area: item-quantity;"><%= item.quantity %></div>
            <div style="grid-area: item-category;"><%= item.category_name %></div>
            <div id="card-options">
                <a  class="dialod-open" href="/Item/<%= item.id %>" style="margin-right: 20px; color: orange;">edit</a>
                <a style="color: red;" href="/Item/<%= item.id %>/Delete/">delete</a>                
            </div>
            <%- include('partials/updt-itm.ejs', {item: item, ctgries: ctgries}) %>

        </div>
        <% }) %>

    </section>
    <dialog id="itms-dlg">
        <form method="post" action="/Items">
            <h2>Create new item</h2>
            <label for="itmName">Name: </label>
            <input id="itmName" name="itmName" type="text" placeholder="example: chocolate bar!" required>

            <label for="itmQuantity">Quantity: </label>
            <input id="itmQuantity" name="itmQuantity" type="number" min="0" step="1" required>

            <label for="itmCategory">Category:</label>
            <select id="itmCategory" name="itmCategory" required>
                <option value="" disabled selected> --choose category--</option>
                <% ctgries.forEach(ctgry =>{ %>
                    <option value="<%= ctgry.id%>"><%= ctgry.name %></option>
                <% }) %>
            </select>
            <button> + add item</button>
            <button type="button" id="dlg-exit">close</button>
        </form>
    </dialog>
</body>
</html>